
<div class="center big--box">
  <h1>Gymatic</h1>
</div>

<div class = "center">
  <div class="main--link">
    <a href="/members/new">Sign-up Member</a>
  </div>
  <div class="main--link">
    <a class="main-link" href="/members/new">Sign-up Member</a>
  </div>
  <div class="main--link">
    <a class="main-link" href="/gym_classes/new">New Gym Class</a>
  </div>
  <div class="main--link">
    <a class="main-link" href="/bookings/new">Make New Booking</a>
  </div>
</div>
