<div class="center">
  <div class="big--box">
    <h1>Gymatic</h1>
    <p>The gym administrator</p>
  </div>
</div>
<div class = "center">
  <div class="main--link">
    <a href="/members/new">Sign-up Member</a>
  </div>
  <div class="main--link">
    <a href="/membership/new">Add Membership Type</a>
  </div>
  <div class="main--link">
    <a href="/gym_classes/new">New Gym Class</a>
  </div>
  <div class="main--link">
    <a href="/bookings/new">Make New Booking</a>
  </div>
</div>
