<form action="/memberships" method="post">
  <label for="type">Type: </label>
  <input type="text" name="type" id="type">
  <label for="start-time">Start Time: </label>
  <input type="time" name="start_time" id="start-time">
  <label for="end-time">End Time: </label>
  <input type="time" name="end_time" id="end-time">
  <input type="submit" value="submit">
</form>
