div h1 {
  font-size: 200px;
  margin: auto;
}

nav {
  background-color: black;
  color: white;
  text-align: center;
}

div a:link {
  color: white;
  text-decoration: none;
  background-color: black;
}

div a:visited {
  color: white;
  text-decoration: none;
  background-color: black;
}

nav a:link {
  color: white;
  text-decoration: none;
  background-color: black;
}

nav a:visited {
  color: white;
  text-decoration: none;
  background-color: black;
}

button a:link {
  color: black;
  text-decoration: none;
}

button a:visited {
  color: black;
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

button a{
  background-color: white;
}

.main--link {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  display: inline-block;
  background-color: black;
  padding: 40px;
}

.main--link p {
  color: white;
}

.center {
  text-align: center;
}

.big--box {
  display: inline;
  width: 100px;
  height: 100px;
  font-size: 50px;
}

.flex {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.back-img {
  background-image: url('https://media.istockphoto.com/photos/gym-background-with-equipment-picture-id845970122?k=6&m=845970122&s=612x612&w=0&h=-las2BorgfNUXc84u3MrnOoztybpaGkxWTfGWZb1Cg8=');
  background-repeat: no-repeat;
  background-size: 1500px 500px;
}

.bigger{
  font-size: 50px;
}
