nav {
  background-color: black;
  color: white;
  text-align: center;
}

div a:link {
  color: white;
  text-decoration: none;
  background-color: black;
}

div a:visited {
  color: white;
  text-decoration: none;
  background-color: black;
}

nav a:link {
  color: white;
  text-decoration: none;
  background-color: black;
}

nav a:visited {
  color: white;
  text-decoration: none;
  background-color: black;
}

button a:link {
  color: black;
  text-decoration: none;
}

button a:visited {
  color: black;
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

button a{
  background-color: white;
}

.main--link {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  display: inline-block;
  background-color: black;
  padding: 40px;
}

.main--link p {
  color: white;
}

.center {
  text-align: center;
}

.big--box {
  display: inline;
  width: 100px;
  height: 100px;
  font-size: 50px;
}

.flex {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
