<% @members.each do |member| %>
<a href="/members/<%= member.id %>"><p>Name:  <%= "#{member.first_name.capitalize()} #{member.last_name.capitalize()}" %>
  <% if @new_member != nil && @new_member.id() == member.id() %>
  !!NEW!!
  <% end %> </p>
<p>Membership Type: <%= member.membership.type %></p>
<p>Membership Number: <%= member.id() %></p></a>
<% end %>
