<div class="center">
  <% @members.each do |member| %>
  <div class="main--link flex">
    <a href="/members/<%= member.id %>">
      <% if @new_member != nil && @new_member.id() == member.id() %>
      <p>NEW  </p>
      <% end %>
      <p>Name:  <%= "#{member.first_name.capitalize()} #{member.last_name.capitalize()}" %></p>
      <p>Membership Type: <%= member.membership.type %></p>
      <p>Membership Number: <%= member.id() %></p></a>
    </div>
    <% end %>
  </div>
